USE [DB_AUTO]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](250) NULL,
	[user_email] [nvarchar](50) NULL,
	[user_pass] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_INFO_IMAGES]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_INFO_IMAGES](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[USER_INFO_ID] [int] NULL,
	[IMAGE1] [nvarchar](50) NULL,
	[MOTA] [nvarchar](350) NULL,
	[USER_INFO_GUID_ID] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USER_INFO_IMAGES] ON
INSERT [dbo].[USER_INFO_IMAGES] ([ID], [USER_INFO_ID], [IMAGE1], [MOTA], [USER_INFO_GUID_ID]) VALUES (CAST(5 AS Numeric(18, 0)), 1, N'1_20131212193653.jpg', N'vớ', NULL)
INSERT [dbo].[USER_INFO_IMAGES] ([ID], [USER_INFO_ID], [IMAGE1], [MOTA], [USER_INFO_GUID_ID]) VALUES (CAST(7 AS Numeric(18, 0)), 4, N'4_20131212195223.jpg', N'', NULL)
INSERT [dbo].[USER_INFO_IMAGES] ([ID], [USER_INFO_ID], [IMAGE1], [MOTA], [USER_INFO_GUID_ID]) VALUES (CAST(8 AS Numeric(18, 0)), 4, N'4_20131212195228.jpg', N'', NULL)
SET IDENTITY_INSERT [dbo].[USER_INFO_IMAGES] OFF
/****** Object:  Table [dbo].[ThuVien]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[proimage] [nvarchar](50) NULL,
	[proimage_thumb] [nvarchar](50) NULL,
	[comment] [nvarchar](1150) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ThuVien] ON
INSERT [dbo].[ThuVien] ([Id], [product_id], [proimage], [proimage_thumb], [comment]) VALUES (8, 7, N'thuvien_8.jpg', NULL, N'')
INSERT [dbo].[ThuVien] ([Id], [product_id], [proimage], [proimage_thumb], [comment]) VALUES (9, 7, N'thuvien_9.jpg', NULL, N'')
INSERT [dbo].[ThuVien] ([Id], [product_id], [proimage], [proimage_thumb], [comment]) VALUES (3, 7, N'thuvien_3.jpg', NULL, N'')
SET IDENTITY_INSERT [dbo].[ThuVien] OFF
/****** Object:  Table [dbo].[SystemUp]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nicksys] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPWeb]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPWeb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL,
	[PriceSale] [float] NULL,
	[Quantity] [int] NULL,
	[ACuaHangId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SPWeb] ON
INSERT [dbo].[SPWeb] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En], [PriceSale], [Quantity], [ACuaHangId]) VALUES (27, N'spham cua hang 1', NULL, N'', N'', 2, CAST(0x0000A4050152E393 AS DateTime), CAST(0x0000A4050152E393 AS DateTime), 0, 0, 11222, 10, 1)
INSERT [dbo].[SPWeb] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En], [PriceSale], [Quantity], [ACuaHangId]) VALUES (28, N'ch 2 san pham 1', NULL, N'', N'', 14, CAST(0x0000A40501540151 AS DateTime), CAST(0x0000A40501540151 AS DateTime), 0, 0, 300000, 0, 2)
INSERT [dbo].[SPWeb] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En], [PriceSale], [Quantity], [ACuaHangId]) VALUES (29, N'saphm 2', NULL, N'', N'', 13, CAST(0x0000A40800BB67C9 AS DateTime), CAST(0x0000A40800BB67C9 AS DateTime), 0, 0, 15000, 15, 1)
SET IDENTITY_INSERT [dbo].[SPWeb] OFF
/****** Object:  Table [dbo].[NewsWebnb]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsWebnb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NewsWebnb] ON
SET IDENTITY_INSERT [dbo].[NewsWebnb] OFF
/****** Object:  Table [dbo].[NewsWebINFO]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsWebINFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NewsWebINFO] ON
INSERT [dbo].[NewsWebINFO] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En]) VALUES (2, N'en', NULL, N'tin moi tieng anh', N'', 1, CAST(0x00009EC300B6FDC2 AS DateTime), CAST(0x00009EC300B6FDC2 AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[NewsWebINFO] OFF
/****** Object:  Table [dbo].[NewsWeb]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsWeb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NewsWeb] ON
SET IDENTITY_INSERT [dbo].[NewsWeb] OFF
/****** Object:  Table [dbo].[NewsHotTwo]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsHotTwo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[DateCreate] [datetime] NULL,
	[Shortdescription] [nvarchar](1000) NULL,
	[Description] [ntext] NULL,
	[Image1] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[ViewPriority] [int] NULL,
	[IsHome] [bit] NULL,
	[GroupId] [int] NULL,
	[ParId] [int] NULL,
 CONSTRAINT [PK_News1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsHot]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsHot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[DateCreate] [datetime] NULL,
	[Shortdescription] [nvarchar](1000) NULL,
	[Description] [ntext] NULL,
	[Image1] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[ViewPriority] [int] NULL,
	[IsHome] [bit] NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyProductImage]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[proimage] [nvarchar](50) NULL,
	[proimage_thumb] [nvarchar](50) NULL,
 CONSTRAINT [PK_MyProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](200) NULL,
	[Sex] [bit] NULL,
	[DateOfBirth] [datetime] NULL,
	[Email] [varchar](50) NULL,
	[Telephone] [varchar](30) NULL,
	[Address] [nvarchar](120) NULL,
	[City] [nvarchar](40) NULL,
	[State] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[HashedPassword] [varchar](100) NULL,
	[LastLogin] [datetime] NULL,
	[RegisterDate] [datetime] NULL,
	[Permission] [int] NULL,
	[AverageRate] [float] NULL,
	[Avatar] [varchar](20) NULL,
	[ActivateCode] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[CellPhone] [nchar](20) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON
INSERT [dbo].[Member] ([Id], [Username], [FirstName], [LastName], [Sex], [DateOfBirth], [Email], [Telephone], [Address], [City], [State], [Country], [HashedPassword], [LastLogin], [RegisterDate], [Permission], [AverageRate], [Avatar], [ActivateCode], [IsActive], [CellPhone]) VALUES (1, N'admin', N'1', N'1', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'123456', CAST(0x00009EB00092077D AS DateTime), CAST(0x00009EB00092077D AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Member] OFF
/****** Object:  Table [dbo].[ItemDetailKH]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDetailKH](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](500) NULL,
	[TenKHEn] [nvarchar](500) NULL,
	[GroupItemId] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](1000) NULL,
	[Price] [float] NULL,
	[ShortDescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[DescriptionEn] [ntext] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[PathImage] [nvarchar](110) NULL,
	[IsHome] [bit] NULL,
	[ViewPriority] [int] NULL,
	[Price1] [float] NULL,
	[ThoiLuong] [nvarchar](100) NULL,
	[HanSuDung] [nvarchar](150) NULL,
	[HienGG] [int] NULL,
	[HienQC] [int] NULL,
	[TitleI] [nvarchar](350) NULL,
	[maso] [nvarchar](250) NULL,
	[dongia] [nvarchar](250) NULL,
	[baohanh] [nvarchar](1250) NULL,
	[quicach] [nvarchar](1250) NULL,
	[dacdiem] [nvarchar](1250) NULL,
	[image1] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemDetailKH] ON
INSERT [dbo].[ItemDetailKH] ([Id], [TenKH], [TenKHEn], [GroupItemId], [Code], [Name], [Price], [ShortDescription], [Description], [DescriptionEn], [IsActive], [IsDelete], [PathImage], [IsHome], [ViewPriority], [Price1], [ThoiLuong], [HanSuDung], [HienGG], [HienQC], [TitleI], [maso], [dongia], [baohanh], [quicach], [dacdiem], [image1]) VALUES (7, N'', N'', 0, NULL, NULL, NULL, N'KHÁCH SẠN VIỆT - ÚC', NULL, N'', NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, 0, 0, NULL, N'#0006', N'', N'', N'', N'', N'ItemDetailKH_7.jpg')
INSERT [dbo].[ItemDetailKH] ([Id], [TenKH], [TenKHEn], [GroupItemId], [Code], [Name], [Price], [ShortDescription], [Description], [DescriptionEn], [IsActive], [IsDelete], [PathImage], [IsHome], [ViewPriority], [Price1], [ThoiLuong], [HanSuDung], [HienGG], [HienQC], [TitleI], [maso], [dongia], [baohanh], [quicach], [dacdiem], [image1]) VALUES (5, N'CHUNG CƯ LONG PHỤNG', N'LONG PHUNG APARTMENT', 0, NULL, NULL, NULL, N'CHUNG CƯ LONG PHỤNG', NULL, N'LONG PHUNG APARTMENT', NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, 0, 0, NULL, N'#0004', N'', N'', N'', N'', N'ItemDetailKH_5.jpg')
SET IDENTITY_INSERT [dbo].[ItemDetailKH] OFF
/****** Object:  Table [dbo].[ItemDetailImage]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDetailImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemDetailId] [int] NOT NULL,
	[PathImage] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ItemDetailImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDetail]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupItemId] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](1000) NULL,
	[Price] [float] NULL,
	[ShortDescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[DescriptionEn] [ntext] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[PathImage] [nvarchar](110) NULL,
	[IsHome] [bit] NULL,
	[ViewPriority] [int] NULL,
	[Price1] [float] NULL,
	[ThoiLuong] [nvarchar](100) NULL,
	[HanSuDung] [nvarchar](150) NULL,
	[HienGG] [int] NULL,
	[HienQC] [int] NULL,
	[TitleI] [nvarchar](350) NULL,
	[maso] [nvarchar](250) NULL,
	[dongia] [nvarchar](250) NULL,
	[baohanh] [nvarchar](1250) NULL,
	[quicach] [nvarchar](1250) NULL,
	[dacdiem] [nvarchar](1250) NULL,
	[image1] [nvarchar](250) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemDetail] ON
SET IDENTITY_INSERT [dbo].[ItemDetail] OFF
/****** Object:  Table [dbo].[Info]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[HTMLContent] [ntext] NULL,
	[HTMLContentEn] [ntext] NULL,
 CONSTRAINT [PK_Info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Info] ON
INSERT [dbo].[Info] ([Id], [Code], [HTMLContent], [HTMLContentEn]) VALUES (2, N'sdf', NULL, NULL)
INSERT [dbo].[Info] ([Id], [Code], [HTMLContent], [HTMLContentEn]) VALUES (3, N'sdf', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Info] OFF
/****** Object:  Table [dbo].[HoiDap]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoiDap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Telephone] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](2000) NULL,
	[CGroup] [nvarchar](450) NULL,
	[Name1] [nvarchar](200) NULL,
	[Telephone1] [varchar](50) NULL,
	[Fax1] [varchar](50) NULL,
	[Email1] [nvarchar](200) NULL,
	[Address1] [nvarchar](200) NULL,
	[Subject1] [nvarchar](200) NULL,
	[Message1] [nvarchar](2000) NULL,
	[CGroup1] [nvarchar](450) NULL,
	[createdate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HienTrangChu]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienTrangChu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CTNhaCCId] [int] NULL,
	[CTLoaiSimId] [int] NULL,
	[stt] [int] NULL,
	[image1] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupItem]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[ParentGroupItemId] [int] NULL,
	[Image1] [nvarchar](200) NULL,
	[Description] [nvarchar](2000) NULL,
	[ViewPriority] [int] NULL,
	[linkhelp] [nvarchar](500) NULL,
 CONSTRAINT [PK_GroupItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieu]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GioiThieu] ON
INSERT [dbo].[GioiThieu] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En]) VALUES (5, N'Sơ đồ tổ chức công ty', NULL, N'', N'<p><img title="imgip" src="../jscripts/tiny_mce/plugins/eBizIcon/img/sodo.jpg" border="0" alt="" width="577" height="577" /></p>', 1, CAST(0x00009ED0011465AF AS DateTime), CAST(0x00009ED0011465AF AS DateTime), 0, 0)
INSERT [dbo].[GioiThieu] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En]) VALUES (6, N'Định hướng', NULL, N'', N'', 1, CAST(0x00009ED001146E13 AS DateTime), CAST(0x00009ED001146E13 AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[GioiThieu] OFF
/****** Object:  Table [dbo].[GioGiaoHang]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioGiaoHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiaDanh] [nvarchar](250) NULL,
	[stt] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileDownloadEn]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileDownloadEn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[Path] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileDownload]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileDownload](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[Path] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileDownload] ON
INSERT [dbo].[FileDownload] ([Id], [Title], [Path], [CreateDate], [UpdateDate]) VALUES (2, N'Thông số hoàn thiện', N'download_ThongSoHoanThien.xls2.xls', CAST(0x00009ED500E9FD5E AS DateTime), CAST(0x00009ED500E9FD5E AS DateTime))
SET IDENTITY_INSERT [dbo].[FileDownload] OFF
/****** Object:  Table [dbo].[DoiTacWebEn]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTacWebEn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTacWeb]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTacWeb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[ImageNews] [nvarchar](550) NULL,
	[Shortdescription] [ntext] NULL,
	[Description] [ntext] NULL,
	[CateId] [int] NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[En] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoiTacWeb] ON
INSERT [dbo].[DoiTacWeb] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En]) VALUES (1, N'1', N'DoitacList1.jpg', N'1', N'<p>1</p>', 1, CAST(0x00009ED4010CFD45 AS DateTime), CAST(0x00009ED4010CFD45 AS DateTime), 0, 0)
INSERT [dbo].[DoiTacWeb] ([Id], [Title], [ImageNews], [Shortdescription], [Description], [CateId], [DateCreate], [DateUpdate], [IsDelete], [En]) VALUES (2, N'2', NULL, N'2', N'<p>2</p>', 1, CAST(0x00009ED40110895F AS DateTime), CAST(0x00009ED40110895F AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[DoiTacWeb] OFF
/****** Object:  Table [dbo].[Contact]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Telephone] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](2000) NULL,
	[CGroup] [nvarchar](450) NULL,
	[DateCreate] [datetime] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClientInfo]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](250) NULL,
	[user_email] [nvarchar](50) NULL,
	[user_pass] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CateTypeParent]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CateTypeParent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[Type] [int] NULL,
	[stt] [int] NULL,
	[image1] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[parid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CateTypeDoiTac]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CateTypeDoiTac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[Type] [int] NULL,
	[stt] [int] NULL,
	[image1] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[parid] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CateTypeDoiTac] ON
INSERT [dbo].[CateTypeDoiTac] ([Id], [Title], [Type], [stt], [image1], [CreateDate], [UpdateDate], [parid]) VALUES (1, N'Hệ Thống Phân Phối', 1, 1, NULL, CAST(0x00009ED40108F4CE AS DateTime), CAST(0x00009ED40108F4CE AS DateTime), 0)
INSERT [dbo].[CateTypeDoiTac] ([Id], [Title], [Type], [stt], [image1], [CreateDate], [UpdateDate], [parid]) VALUES (2, N'Hệ Thống Showroom', 1, 2, NULL, CAST(0x00009ED40109097E AS DateTime), CAST(0x00009ED40109097E AS DateTime), 0)
INSERT [dbo].[CateTypeDoiTac] ([Id], [Title], [Type], [stt], [image1], [CreateDate], [UpdateDate], [parid]) VALUES (3, N'Công Trình Tiêu Biểu', 1, 3, NULL, CAST(0x00009ED401090B7C AS DateTime), CAST(0x00009ED401090B7C AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[CateTypeDoiTac] OFF
/****** Object:  Table [dbo].[CateType]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CateType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](550) NULL,
	[Type] [int] NULL,
	[stt] [int] NULL,
	[image1] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[parid] [int] NULL,
	[ACuaHangId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CateType] ON
INSERT [dbo].[CateType] ([Id], [Title], [Type], [stt], [image1], [CreateDate], [UpdateDate], [parid], [ACuaHangId]) VALUES (13, N'Thức ăn', 1, 1, NULL, CAST(0x0000A4040157AB89 AS DateTime), CAST(0x0000A4040157AB89 AS DateTime), 0, 1)
INSERT [dbo].[CateType] ([Id], [Title], [Type], [stt], [image1], [CreateDate], [UpdateDate], [parid], [ACuaHangId]) VALUES (2, N'Trái cây', 1, 1, N'group_2_vo_cat.png', CAST(0x00009ECD00B61C49 AS DateTime), CAST(0x00009ECD00B61C49 AS DateTime), 0, 1)
INSERT [dbo].[CateType] ([Id], [Title], [Type], [stt], [image1], [CreateDate], [UpdateDate], [parid], [ACuaHangId]) VALUES (3, N'Nước uống', 1, 2, N'group_3_quandetkim_cat1.png', CAST(0x00009ECD00B61C51 AS DateTime), CAST(0x00009ECD00B61C51 AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[CateType] OFF
/****** Object:  Table [dbo].[BuyItemList]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyItemList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[SoLuong] [int] NULL,
	[DateCreate] [datetime] NULL,
	[IsView] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATheThanhVien]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATheThanhVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [nvarchar](350) NULL,
	[NgayCap] [datetime] NULL,
	[ANhanVienId] [int] NULL,
	[Islock] [int] NULL,
	[date_create] [datetime] NULL,
	[ANhanVienId_NhanVienCap] [int] NULL,
 CONSTRAINT [PK_ATheThanhVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATaiKhoan]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATaiKhoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[guid_id] [nvarchar](350) NULL,
	[AThanhVienId] [int] NULL,
	[SoTien] [float] NULL,
	[date_create] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ATaiKhoan] ON
INSERT [dbo].[ATaiKhoan] ([Id], [guid_id], [AThanhVienId], [SoTien], [date_create]) VALUES (2, N'39cd7987-4eff-9bf2-0bb8-4c5e2cf3d678', 13, 196000, CAST(0x0000A40701289559 AS DateTime))
SET IDENTITY_INSERT [dbo].[ATaiKhoan] OFF
/****** Object:  Table [dbo].[AQuan]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AQuan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaQuan] [nvarchar](50) NULL,
	[TenQuan] [nvarchar](250) NULL,
	[AThanhPhoId] [int] NULL,
	[STT] [int] NULL,
 CONSTRAINT [PK_AQuan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AQuan] ON
INSERT [dbo].[AQuan] ([Id], [MaQuan], [TenQuan], [AThanhPhoId], [STT]) VALUES (1, NULL, N'Tân Bình', NULL, 1)
INSERT [dbo].[AQuan] ([Id], [MaQuan], [TenQuan], [AThanhPhoId], [STT]) VALUES (2, NULL, N'Quận 10', NULL, 2)
INSERT [dbo].[AQuan] ([Id], [MaQuan], [TenQuan], [AThanhPhoId], [STT]) VALUES (3, NULL, N'Quận 3', NULL, 3)
SET IDENTITY_INSERT [dbo].[AQuan] OFF
/****** Object:  Table [dbo].[APhieuNhapKho]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APhieuNhapKho](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupName] [nvarchar](500) NULL,
	[SPwebId] [int] NULL,
	[Quantity] [int] NULL,
	[date_create] [datetime] NULL,
	[PriceBuy] [float] NULL,
	[Note] [nvarchar](500) NULL,
	[ACuaHangId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APhieuNhapKho] ON
INSERT [dbo].[APhieuNhapKho] ([Id], [SupName], [SPwebId], [Quantity], [date_create], [PriceBuy], [Note], [ACuaHangId]) VALUES (6, NULL, 28, 111, CAST(0x0000A40501566376 AS DateTime), 1111, N'111', NULL)
INSERT [dbo].[APhieuNhapKho] ([Id], [SupName], [SPwebId], [Quantity], [date_create], [PriceBuy], [Note], [ACuaHangId]) VALUES (7, NULL, 28, 2, CAST(0x0000A40501570AA7 AS DateTime), 111, N'111', 2)
INSERT [dbo].[APhieuNhapKho] ([Id], [SupName], [SPwebId], [Quantity], [date_create], [PriceBuy], [Note], [ACuaHangId]) VALUES (8, NULL, NULL, NULL, CAST(0x0000A4050161E940 AS DateTime), NULL, N'', 1)
SET IDENTITY_INSERT [dbo].[APhieuNhapKho] OFF
/****** Object:  Table [dbo].[ANhanVien]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANhanVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ACuaHangId] [int] NULL,
	[TenDangNhap] [nvarchar](250) NULL,
	[MatKhau] [nvarchar](250) NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[APhanCapId] [int] NULL,
	[HoTen] [nvarchar](450) NULL,
	[ThauChi] [float] NULL,
	[ALoaiThanhVienId] [int] NULL,
	[CMND] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [int] NULL,
	[CongViec] [nvarchar](450) NULL,
	[DiaChi] [nvarchar](650) NULL,
	[QuanId] [int] NULL,
	[MaVach] [nvarchar](200) NOT NULL,
	[date_create] [datetime] NULL,
	[ATheThanhVienId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANhanVien] ON
INSERT [dbo].[ANhanVien] ([Id], [ACuaHangId], [TenDangNhap], [MatKhau], [SDT], [Email], [APhanCapId], [HoTen], [ThauChi], [ALoaiThanhVienId], [CMND], [NgaySinh], [GioiTinh], [CongViec], [DiaChi], [QuanId], [MaVach], [date_create], [ATheThanhVienId]) VALUES (13, 1, N'nvxx', N'123456', N'13285544', N'jkkd@gmail.com', 1, N'nguyen van nvxx', 0, 5, N'', NULL, 1, N'', N'', NULL, N'11', CAST(0x0000A40701289555 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ANhanVien] OFF
/****** Object:  Table [dbo].[ALichSuVaoRa]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALichSuVaoRa](
	[Id] [int] NULL,
	[guid_id] [nvarchar](50) NULL,
	[Athanhvienid] [int] NULL,
	[date_login] [datetime] NULL,
	[date_logout] [datetime] NULL,
	[ip] [datetime] NULL,
	[Iscard] [int] NULL,
	[date_create] [datetime] NULL,
	[ACuaHangId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALichSuLog]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALichSuLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[guid_id] [nvarchar](50) NULL,
	[Athanhvienid] [int] NULL,
	[date_login] [datetime] NULL,
	[date_logout] [datetime] NULL,
	[ip] [datetime] NULL,
	[date_create] [datetime] NULL,
	[Iscard] [int] NULL,
	[ACuaHangId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGioHangTemp]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGioHangTemp](
	[guid_id] [nvarchar](50) NULL,
	[ngay] [datetime] NULL,
	[gio] [nchar](10) NULL,
	[loai] [nvarchar](50) NULL,
	[idsp] [int] NULL,
	[isdichvu] [int] NULL,
	[sttmay] [int] NULL,
	[soluong] [int] NULL,
	[giathanh] [float] NULL,
	[acuahangid] [int] NULL,
	[anhanvienid] [int] NULL,
	[adonhang_guid_id] [nvarchar](50) NULL,
	[date_create] [datetime] NULL,
	[guid_giohang] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AGioHangTemp] ([guid_id], [ngay], [gio], [loai], [idsp], [isdichvu], [sttmay], [soluong], [giathanh], [acuahangid], [anhanvienid], [adonhang_guid_id], [date_create], [guid_giohang]) VALUES (N'39cd7d3d-0334-03d3-27f0-357a04ed4201', CAST(0x00009F9800000000 AS DateTime), NULL, NULL, 27, 0, NULL, 33, 11222, NULL, 1, NULL, CAST(0x0000A40800B9FCA0 AS DateTime), N'39cd7d3c-ccb0-d48a-fa33-7dd4c28e1efe')
INSERT [dbo].[AGioHangTemp] ([guid_id], [ngay], [gio], [loai], [idsp], [isdichvu], [sttmay], [soluong], [giathanh], [acuahangid], [anhanvienid], [adonhang_guid_id], [date_create], [guid_giohang]) VALUES (N'39cd7d18-6c22-000a-7bfe-c16576daa4fc', CAST(0x0000A12500000000 AS DateTime), NULL, NULL, 27, 0, NULL, 3, 11222, NULL, NULL, NULL, CAST(0x0000A40800AF0463 AS DateTime), N'39cd7d16-97f3-ccc8-2b0e-8f108daef7cf')
/****** Object:  Table [dbo].[AGiaoDichNapTien]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGiaoDichNapTien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[guid_id] [nvarchar](50) NULL,
	[Athanhvienid] [int] NULL,
	[Sotien] [float] NULL,
	[ANhanvienidNap] [float] NULL,
	[ATheNapid] [float] NULL,
	[date_create] [datetime] NULL,
	[ACuaHangId] [int] NULL,
	[Ghichu] [nvarchar](3350) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AGiaoDichNapTien] ON
INSERT [dbo].[AGiaoDichNapTien] ([Id], [guid_id], [Athanhvienid], [Sotien], [ANhanvienidNap], [ATheNapid], [date_create], [ACuaHangId], [Ghichu]) VALUES (3, N'39cd798f-a5ff-4b05-1bb8-7ff8c72cf58c', 13, -2000, NULL, NULL, CAST(0x0000A407012B1654 AS DateTime), 1, N'admin')
INSERT [dbo].[AGiaoDichNapTien] ([Id], [guid_id], [Athanhvienid], [Sotien], [ANhanvienidNap], [ATheNapid], [date_create], [ACuaHangId], [Ghichu]) VALUES (2, N'39cd798d-e79e-e4c4-187c-c6547d9cad93', 13, 200000, NULL, NULL, CAST(0x0000A407012A8FFF AS DateTime), 1, N'tien tra no')
INSERT [dbo].[AGiaoDichNapTien] ([Id], [guid_id], [Athanhvienid], [Sotien], [ANhanvienidNap], [ATheNapid], [date_create], [ACuaHangId], [Ghichu]) VALUES (4, N'39cd7992-84c6-c1af-5555-a47e1bf1d792', 13, -2000, NULL, NULL, CAST(0x0000A407012BF24E AS DateTime), 1, N'bi tru tien phat')
SET IDENTITY_INSERT [dbo].[AGiaoDichNapTien] OFF
/****** Object:  Table [dbo].[ADonHangSP]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADonHangSP](
	[Id] [int] NULL,
	[guid_id] [nvarchar](50) NULL,
	[Athanhvienid] [int] NULL,
	[SPWebId] [int] NULL,
	[PriceBuy] [float] NULL,
	[date_create] [datetime] NULL,
	[aDonHang_guid_id] [nvarchar](50) NULL,
	[ACuaHangId] [int] NULL,
	[Quantity] [int] NULL,
	[SumPrice] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADonHangDV]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADonHangDV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[guid_id] [nvarchar](50) NULL,
	[Athanhvienid] [int] NULL,
	[ADichVuId] [int] NULL,
	[PriceBuy] [float] NULL,
	[date_create] [datetime] NULL,
	[aDonHang_guid_id] [nvarchar](50) NULL,
	[ACuaHangId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADonHang]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADonHang](
	[Id] [int] NULL,
	[guid_id] [nvarchar](50) NULL,
	[Athanhvienid] [int] NULL,
	[date_create] [datetime] NULL,
	[ACuaHangId] [int] NULL,
	[MaDonHang] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACuaHang]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACuaHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenCuaHang] [nvarchar](3000) NULL,
	[DiaChi] [nvarchar](450) NULL,
	[VietTat] [nvarchar](500) NULL,
	[NgayThanhLap] [datetime] NULL,
	[DateCreate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACuaHang] ON
INSERT [dbo].[ACuaHang] ([Id], [TenCuaHang], [DiaChi], [VietTat], [NgayThanhLap], [DateCreate]) VALUES (1, N'Cua hang so 1', N'Cua hang so 1', N'CH1', NULL, NULL)
INSERT [dbo].[ACuaHang] ([Id], [TenCuaHang], [DiaChi], [VietTat], [NgayThanhLap], [DateCreate]) VALUES (2, N'Cua hang so 2', N'Cua hang so 2', N'CH2', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ACuaHang] OFF
/****** Object:  Table [dbo].[AConst]    Script Date: 12/21/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AConst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CName] [nvarchar](250) NULL,
	[CType] [int] NULL,
	[OrdNumber] [int] NULL,
	[CId] [int] NULL,
 CONSTRAINT [PK_AConst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AConst] ON
INSERT [dbo].[AConst] ([Id], [CName], [CType], [OrdNumber], [CId]) VALUES (1, N'Trưởng cửa hàng', 1, 1, 1)
INSERT [dbo].[AConst] ([Id], [CName], [CType], [OrdNumber], [CId]) VALUES (2, N'Nhân Viên', 1, 2, 2)
INSERT [dbo].[AConst] ([Id], [CName], [CType], [OrdNumber], [CId]) VALUES (3, N'Đại lý', 1, 3, 3)
SET IDENTITY_INSERT [dbo].[AConst] OFF
/****** Object:  Default [DF_ACuaHang_DateCreate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ACuaHang] ADD  CONSTRAINT [DF_ACuaHang_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF_AGiaoDichDV_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ADonHangDV] ADD  CONSTRAINT [DF_AGiaoDichDV_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_AGiaoDichNapTien_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[AGiaoDichNapTien] ADD  CONSTRAINT [DF_AGiaoDichNapTien_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_AGioHangTemp_soluong]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[AGioHangTemp] ADD  CONSTRAINT [DF_AGioHangTemp_soluong]  DEFAULT ((0)) FOR [soluong]
GO
/****** Object:  Default [DF_AGioHangTemp_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[AGioHangTemp] ADD  CONSTRAINT [DF_AGioHangTemp_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_ALichSuVaoRa_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ALichSuVaoRa] ADD  CONSTRAINT [DF_ALichSuVaoRa_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_ANhanVien_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ANhanVien] ADD  CONSTRAINT [DF_ANhanVien_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_APhieuNhapKho_DateCreate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[APhieuNhapKho] ADD  CONSTRAINT [DF_APhieuNhapKho_DateCreate]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_ATaiKhoan_SoTien]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ATaiKhoan] ADD  CONSTRAINT [DF_ATaiKhoan_SoTien]  DEFAULT ((0)) FOR [SoTien]
GO
/****** Object:  Default [DF_ATaiKhoan_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ATaiKhoan] ADD  CONSTRAINT [DF_ATaiKhoan_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_ATheThanhVien_NgayCap]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ATheThanhVien] ADD  CONSTRAINT [DF_ATheThanhVien_NgayCap]  DEFAULT (getdate()) FOR [NgayCap]
GO
/****** Object:  Default [DF_ATheThanhVien_date_create]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ATheThanhVien] ADD  CONSTRAINT [DF_ATheThanhVien_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
/****** Object:  Default [DF_GioHangList_DateCreate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[BuyItemList] ADD  CONSTRAINT [DF_GioHangList_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF_GioHangList_IsView]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[BuyItemList] ADD  CONSTRAINT [DF_GioHangList_IsView]  DEFAULT ((0)) FOR [IsView]
GO
/****** Object:  Default [DF_CateType_Type]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateType] ADD  CONSTRAINT [DF_CateType_Type]  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF_CateType_stt]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateType] ADD  CONSTRAINT [DF_CateType_stt]  DEFAULT ((1)) FOR [stt]
GO
/****** Object:  Default [aDF_MyProduct_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateType] ADD  CONSTRAINT [aDF_MyProduct_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [aDF_MyProduct_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateType] ADD  CONSTRAINT [aDF_MyProduct_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
/****** Object:  Default [DF_CateType_parid]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateType] ADD  CONSTRAINT [DF_CateType_parid]  DEFAULT ((0)) FOR [parid]
GO
/****** Object:  Default [DF__CateTypeDo__Type__2D27B809]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeDoiTac] ADD  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF__CateTypeDoi__stt__2E1BDC42]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeDoiTac] ADD  DEFAULT ((1)) FOR [stt]
GO
/****** Object:  Default [DF__CateTypeD__Creat__2F10007B]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeDoiTac] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF__CateTypeD__Updat__300424B4]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeDoiTac] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
/****** Object:  Default [DF__CateTypeD__parid__30F848ED]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeDoiTac] ADD  DEFAULT ((0)) FOR [parid]
GO
/****** Object:  Default [DF_CateType_Type1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeParent] ADD  CONSTRAINT [DF_CateType_Type1]  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF_CateType_stt1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeParent] ADD  CONSTRAINT [DF_CateType_stt1]  DEFAULT ((1)) FOR [stt]
GO
/****** Object:  Default [aDF_MyPsroduct_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeParent] ADD  CONSTRAINT [aDF_MyPsroduct_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [aDF_MyPsroduct_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeParent] ADD  CONSTRAINT [aDF_MyPsroduct_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
/****** Object:  Default [DF_CassteType_parid]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[CateTypeParent] ADD  CONSTRAINT [DF_CassteType_parid]  DEFAULT ((0)) FOR [parid]
GO
/****** Object:  Default [DF_UserInfo_Create1Date]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ClientInfo] ADD  CONSTRAINT [DF_UserInfo_Create1Date]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_UserInfo_UpdateD1ate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ClientInfo] ADD  CONSTRAINT [DF_UserInfo_UpdateD1ate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
/****** Object:  Default [DF_Contact_DateCreate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF_Contact_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF__DoiTacWeb__DateC__398D8EEE]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[DoiTacWeb] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF__DoiTacWeb__DateU__3A81B327]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[DoiTacWeb] ADD  DEFAULT (getdate()) FOR [DateUpdate]
GO
/****** Object:  Default [DF__DoiTacWeb__IsDel__3B75D760]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[DoiTacWeb] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF__DoiTacWeb__En__3C69FB99]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[DoiTacWeb] ADD  DEFAULT ((0)) FOR [En]
GO
/****** Object:  Default [awDF_MyProduct_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[FileDownload] ADD  CONSTRAINT [awDF_MyProduct_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [aDwF_MyProduct_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[FileDownload] ADD  CONSTRAINT [aDwF_MyProduct_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
/****** Object:  Default [DF_GioGiaoHang_stt]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[GioGiaoHang] ADD  CONSTRAINT [DF_GioGiaoHang_stt]  DEFAULT ((1)) FOR [stt]
GO
/****** Object:  Default [DF__GioiThieu__DateC__403A8C7D]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[GioiThieu] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF__GioiThieu__DateU__412EB0B6]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[GioiThieu] ADD  DEFAULT (getdate()) FOR [DateUpdate]
GO
/****** Object:  Default [DF__GioiThieu__IsDel__4222D4EF]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[GioiThieu] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF__GioiThieu__En__4316F928]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[GioiThieu] ADD  DEFAULT ((0)) FOR [En]
GO
/****** Object:  Default [DF_GroupItem_ViewPriority]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[GroupItem] ADD  CONSTRAINT [DF_GroupItem_ViewPriority]  DEFAULT ((0)) FOR [ViewPriority]
GO
/****** Object:  Default [DF_ItemDetail_IsHome]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ItemDetail] ADD  CONSTRAINT [DF_ItemDetail_IsHome]  DEFAULT ((0)) FOR [IsHome]
GO
/****** Object:  Default [DF_ItemDetail_HienQC]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ItemDetail] ADD  CONSTRAINT [DF_ItemDetail_HienQC]  DEFAULT ((0)) FOR [HienGG]
GO
/****** Object:  Default [DF_ItemDetail_HienKM]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ItemDetail] ADD  CONSTRAINT [DF_ItemDetail_HienKM]  DEFAULT ((0)) FOR [HienQC]
GO
/****** Object:  Default [DF_ItemDeeteail_IsHome]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ItemDetailKH] ADD  CONSTRAINT [DF_ItemDeeteail_IsHome]  DEFAULT ((0)) FOR [IsHome]
GO
/****** Object:  Default [DF_ItemDeetail_HienQC]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ItemDetailKH] ADD  CONSTRAINT [DF_ItemDeetail_HienQC]  DEFAULT ((0)) FOR [HienGG]
GO
/****** Object:  Default [DF_ItemDeetail_HienKM]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[ItemDetailKH] ADD  CONSTRAINT [DF_ItemDeetail_HienKM]  DEFAULT ((0)) FOR [HienQC]
GO
/****** Object:  Default [DF_Member_LastLogin]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_LastLogin]  DEFAULT (getdate()) FOR [LastLogin]
GO
/****** Object:  Default [DF_Member_RegisterDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_RegisterDate]  DEFAULT (getdate()) FOR [RegisterDate]
GO
/****** Object:  Default [DF_NewsHot_DateCreate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHot] ADD  CONSTRAINT [DF_NewsHot_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF_NewsHot_IsActive]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHot] ADD  CONSTRAINT [DF_NewsHot_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_NewsHot_IsDelete]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHot] ADD  CONSTRAINT [DF_NewsHot_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF_NewsHot_ViewPriority]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHot] ADD  CONSTRAINT [DF_NewsHot_ViewPriority]  DEFAULT ((0)) FOR [ViewPriority]
GO
/****** Object:  Default [DF_NewsHot_IsHome]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHot] ADD  CONSTRAINT [DF_NewsHot_IsHome]  DEFAULT ((0)) FOR [IsHome]
GO
/****** Object:  Default [DF_NewsHot_GroupId]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHot] ADD  CONSTRAINT [DF_NewsHot_GroupId]  DEFAULT ((0)) FOR [GroupId]
GO
/****** Object:  Default [DF_NewsHot_DateCreate1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_DateCreate1]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF_NewsHot_IsActive1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_IsActive1]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_NewsHot_IsDelete1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_IsDelete1]  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF_NewsHot_ViewPriority1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_ViewPriority1]  DEFAULT ((0)) FOR [ViewPriority]
GO
/****** Object:  Default [DF_NewsHot_IsHome1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_IsHome1]  DEFAULT ((0)) FOR [IsHome]
GO
/****** Object:  Default [DF_NewsHot_GroupId1]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_GroupId1]  DEFAULT ((0)) FOR [GroupId]
GO
/****** Object:  Default [DF_NewsHot_GroupId11]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsHotTwo] ADD  CONSTRAINT [DF_NewsHot_GroupId11]  DEFAULT ((0)) FOR [ParId]
GO
/****** Object:  Default [vaDF_MyProduct_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWeb] ADD  CONSTRAINT [vaDF_MyProduct_CreateDate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [vaDF_MyProduct_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWeb] ADD  CONSTRAINT [vaDF_MyProduct_UpdateDate]  DEFAULT (getdate()) FOR [DateUpdate]
GO
/****** Object:  Default [DF_NewsWeb_IsDelete]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWeb] ADD  CONSTRAINT [DF_NewsWeb_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF_NewsWeb_En]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWeb] ADD  CONSTRAINT [DF_NewsWeb_En]  DEFAULT ((0)) FOR [En]
GO
/****** Object:  Default [vaDF_MyPqroduct_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebINFO] ADD  CONSTRAINT [vaDF_MyPqroduct_CreateDate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [vaDF_MyProqduct_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebINFO] ADD  CONSTRAINT [vaDF_MyProqduct_UpdateDate]  DEFAULT (getdate()) FOR [DateUpdate]
GO
/****** Object:  Default [DF_NewsWqeb_IsDelete]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebINFO] ADD  CONSTRAINT [DF_NewsWqeb_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF_NewsWeqb_En]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebINFO] ADD  CONSTRAINT [DF_NewsWeqb_En]  DEFAULT ((0)) FOR [En]
GO
/****** Object:  Default [DF__NewsWebnb__DateC__60A75C0F]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebnb] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF__NewsWebnb__DateU__619B8048]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebnb] ADD  DEFAULT (getdate()) FOR [DateUpdate]
GO
/****** Object:  Default [DF__NewsWebnb__IsDel__628FA481]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebnb] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF__NewsWebnb__En__6383C8BA]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[NewsWebnb] ADD  DEFAULT ((0)) FOR [En]
GO
/****** Object:  Default [vaD2F_MyProduct_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[SPWeb] ADD  CONSTRAINT [vaD2F_MyProduct_CreateDate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [vaD2F_MyProduct_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[SPWeb] ADD  CONSTRAINT [vaD2F_MyProduct_UpdateDate]  DEFAULT (getdate()) FOR [DateUpdate]
GO
/****** Object:  Default [DF_New2sWeb_IsDelete]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[SPWeb] ADD  CONSTRAINT [DF_New2sWeb_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF_Ne2wsWeb_En]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[SPWeb] ADD  CONSTRAINT [DF_Ne2wsWeb_En]  DEFAULT ((0)) FOR [En]
GO
/****** Object:  Default [DF_SPWeb_Quantity]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[SPWeb] ADD  CONSTRAINT [DF_SPWeb_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
/****** Object:  Default [DF_UserInfo_CreateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_UserInfo_UpdateDate]    Script Date: 12/21/2014 11:50:07 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
