<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSoap" />
                <binding name="wsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:24001/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsSoap" contract="ServiceReference1.wsSoap"
                name="wsSoap" />
            <endpoint address="http://easywash.vn/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsSoap1" contract="ServiceReference2.wsSoap"
                name="wsSoap1" />
        </client>
    </system.serviceModel>
</configuration>