<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://easywash.vn/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsSoap" contract="WebService.wsSoap"
                name="wsSoap" />
        </client>
    </system.serviceModel>
</configuration>